/* HouseDetails.css */
.details__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 20px 20px;
    position: relative;
    min-height: 100vh;
    border-bottom: 1px solid rgb(214, 214, 214);
    /* width: 100vw; */
    background-color: rgba(230, 230, 230, 0.958);
}

.checkout__div{
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000075;
  justify-content: center;
  align-items: center;
}

.checkout__box{
  padding: 15px;
  border-radius: 9px;
  background-color: #fff;
}

.house-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    width: 90%;
    /* margin: 0 auto; */
    /* align-self: center; */
    /* justify-self: center; */
  }
  
  .image-carousel {
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* width: 60%; */
    height: 500px;
  }
  
  .main-image {
    width: 80%;
    /* flex: 1; */
    height: 100%;
    border-radius: 6px;
    transition: ease-in 500ms;
    /* margin-right: 10px; */
    object-fit: cover;
  }
  
  .thumbnail-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    overflow-x: scroll;
    width: 20%;
    margin-left: 10px;
    height: 100%;
  }
  
  .thumbnail {
    width: 100%;
    height: 100px;
    cursor: pointer;
    border-radius: 5px;
    object-fit: cover;
  }

  .main__main{
    display: flex;
    background-color: #fff;
  }
  
  .house-info {
    /* flex: 1; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: left;
    border-left: 1px solid #c6c6c6;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  .ticket__price{
    margin-top: 20px;
    font-size: medium;
  }

  .deet_inpt{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    /* width: ; */
  }

  .qty{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 40px;
  }

  .qty>span{
    margin-right: 10px;
  }

  .inpt{
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    outline: none;
  }

  .total{
    text-align: left;
    margin-top: 10px;
  }

  .buy-button {
    background-color: #000000;
    /* display: flex; */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    /* flex: 1; */
    border-radius: 5px;
  }
  
  .buy-button:hover {
    background-color: #2980b9;
  }

  .desc__items{
    display: flex;
    flex-direction: column;
    /* font-style: italic; */
    font-size:12px;
    font-weight: bold;
    color: rgb(174, 174, 174);
    margin-top: 20px;
  }

  .desc__items__blw{
    font-style: normal;
    color: black;
    font-size: 15px;
  }

  .percentage{
    margin-left: 5px;
    font-size: small;
    color: grey;
  }

  .house__info{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* flex: 1 */
    width: 40%;
  }

  .info__card{
    display: flex;
    padding: 10px;
    /* width: 40%; */
    height: 100px;
    /* flex: 1/2; */
    margin: 5px;
    background-color: #dbdbdb;
    flex-direction: column;
    text-align: left;
  }

  
  @media (max-width: 555px) {
    .house-details {
      display: flex;
      flex-wrap: wrap;
      gap: 0px;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
      max-width: 100%;
      /* margin: 0 auto; */
      /* align-self: center; */
      /* justify-self: center; */
    }

    .main__main{
      display: flex;
      flex-direction: column;
      background-color: #fff;
    }
    .image-carousel {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* width: 60%; */
      height: 500px;
    }

    .main-image {
      width: 100%;
      /* flex: 1; */
      height: 100%;
      border-radius: 6px;
      transition: ease-in 500ms;
      /* margin-right: 10px; */
      object-fit: cover;
    }
    .details__container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 20px 20px 20px;
      position: relative;
      min-height: 100vh;
      border-bottom: 1px solid rgb(214, 214, 214);
      /* width: 100vw; */
      background-color: rgba(230, 230, 230, 0.958);
  }

  .thumbnail-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    overflow-x: scroll;
    width: 100%;
    height: 70px;
    margin-left: 0px;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    object-fit: cover;
  }
  
  }