/* HouseDetails.css */
.details__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    /* width: 100vw; */
}

.checkout__div{
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000075;
  justify-content: center;
  align-items: center;
}

.checkout__box{
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}

.house-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    max-width: 800px;
    /* margin: 0 auto; */
    /* align-self: center; */
    /* justify-self: center; */
  }
  
  .image-carousel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }
  
  .main-image {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .thumbnail-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: scroll;
    width: 100%;

  }
  
  .thumbnail {
    max-width: 50px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .house-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: left;
    border-left: 1px solid #c6c6c6;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  .ticket__price{
    margin-top: 20px;
    font-size: medium;
  }

  .deet_inpt{
    display: flex;
    flex-direction: column;
        margin-top: auto;
  }

  .qty{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 40px;
  }

  .qty>span{
    margin-right: 10px;
  }

  .inpt{
    width: 55px;
    height: 35px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
  }

  .total{
    text-align: left;
    margin-top: 10px;
  }

  .buy-button {
    background-color: #f48202;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    border-radius: 5px;
  }
  
  .buy-button:hover {
    background-color: #2980b9;
  }

  .desc__items{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size:small;
    font-weight: bold;
    color: grey;
    margin-top: 20px;
  }

  .desc__items__blw{
    font-style: normal;
    color: black;
    font-size: medium;
  }

  .percentage{
    margin-left: 5px;
    font-size: small;
    color: grey;
  }
  
  @media (max-width: 555px) {
    .house-details {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 10px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
      max-width: 100%;
      /* margin: 0 auto; */
      /* align-self: center; */
      /* justify-self: center; */
    }
  }